/*
* szablon dla projektu Prototypowanie stron
*
*
*/

body {
	background-image:url(../images/tlo_szary_grad.png);
	background-position: center;
	background-repeat: repeat-x;
	background-color: #fff;
	font-family: 'PT Serif', serif;
	color: #484848;
}

p, h1, h2, h3, h4, h5 {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 15px;
}

.nie_kryj {
	overflow: hidden;
	white-space:nowrap;
}

.ogarniacz {
	padding-top: 5px;
	margin-top: 10px;
	padding-bottom: 10px;
}


.h80 {
	height: 80px;
}

.h150 {
	height: 150px;
}

.h200 {
	height: 200px;
}

.h250 {
	height: 250px;
}

.rad15 {
	border-radius: 10px;
}

.light_grey {
	background-color: #E6E6E6;
	border: solid 1px #CFCFCF;
}

.slight_grey {
	background-color: #C3C3C3;
}

.blue {
	background-color: blue;
}

.top-buffer { margin-top:10px; }

.pad_r {
	padding-right: 1px;
}

.pad_l {
	padding-left: 1px;
}

.padt-15{
	padding-top: 15px;
}

.top img{
	margin: 10px;
}

@media only screen and (max-width: 1000px) {
	.quake {
		background-color: #FF0AA6;
	}
 }

 .row {
    margin-left: 0;
    margin-right: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}